@import "tailwindcss";


.planet {
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: silver;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon {
  font-weight: 500;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #4a0180;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.moon:not(:first-child) {
  margin-left: 50px;
}
.moon.selected {
  background: #d2681c;
}

.orbit {
  padding: 6px;
  border-radius: 50%;
  border: 3px solid #d2681c;
}