@import "tailwindcss";


.planet {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: silver;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #4a0180;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}